
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@Html.ActionLink("Manage Categories", "Category", "Index")

@Html.ActionLink("Manage Decks", "CardDeck", "Index")
